body {
    background-color: rgb(255, 252, 220);
}
.centralizador {
    text-align: center;
}
.document {
    background-color: white;
    border: solid 1px black;
    width: 700px;
    display: none;
    border-radius: 10px;
    margin-top: 15px;
}
.document h1 {
    font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.name {
    color: red;
}
.descrição {
    padding-left: 50px;
    padding-right: 50px;
}
.first-img {
    height: 400px;
    width: 500px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.para-o-texto p {
    font-size: 12px;
    margin-top: 2px;
}
.descrição span {
    color: red;
}
button {
    margin-top: 50px;
}
.second-img {
    height: 500px;
    width: 400px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.descrição span.blue {
    color: blue;
}
.descrição span.yellow {
    color: rgb(166, 166, 0);
}
.descrição span.pink {
    color: rgb(247, 149, 165);
}
.descrição span.green {
    color: green;
}
.third-img {
    height: 400px;
    width: 400px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 0;
}
.anti-margin {
    margin-top: 10px;
}
.willian {
    font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.edgar {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.forth-img {
    height: 600px;
    width: 400px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 0px;
}
li {
    margin-bottom: 10px;
}
